{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Programming on Demand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <!-- Bootstrap and JQuery-->
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type=text/css href="{% static 'bootstrap.min.css' %}">
    <!-- Project level CSS and JS Files -->
    <link rel="stylesheet" type="text/css" href='{% static "project.css" %}'>
    <script type="text/javascript" src="{% static 'project.js' %}"></script>
    <!-- Block for Apps to add CSS and JS Files -->
    {% block header_extension %}
    {% endblock %}
    
</head>

<body>

    <main>
        {% block body_extension %}
        {% endblock %}
    </main>

    <footer>
    </footer>

</body>

</html>